<!DOCTYPE html>
<html>
  <head>
    <title>ImportValidator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  
  <%= render partial: 'layouts/nav' %>
  <body>
    <%= yield %>
  </body>
</html>
